body{
    margin:0;
    min-height: 1000px;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    min-height: 1200px; 
    background-image: linear-gradient(45deg, #53122d 50%,	#00BFFF 50%);
}
Header{
    margin-top: 5px;
    color:white;
    font-size:34px;
    background-color: #53122d;  
}
#heading1 {
    color: #53122d;
    font-size: 45px;
    max-width: 800px;
    background-color:#fff;
    text-align: center;
    padding-bottom: 10px;
  }
h1{
    color: #fff;
    padding: 10px;
}
.intro{
    margin-left: 45px;
    color:white;
}
.intro-headings{
    margin-top: -25px;
    font-weight: 600;
    font-size: 50px;
}
#intro-para{
    margin-top: -25px;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 45px;
}
#intro-para2{
    margin-top: -20px;
    font-size: 25px;
}
table{
    font-size: 25px;
}
.box {
    min-height: 600px; 
    max-width: 800px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.664);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  .box1 {
    max-width: 800px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  #gender{
    color: #53122d;
    margin-left: 95px;
    font-size: 30px;
  }
  h3{
    color: #53122d;
    margin-left: 95px;
    font-size: 30px;
  }
  #weight,#height{
    color: #53122d;
    width:400px ;
    font-size: 20px;
    margin-left: 45px;
  }
  #male,#female{
    margin-left: 95px;
  }
  button {
    margin-top: 45px;
    margin-left: 530px ;
    min-height: 50px;
    width: 140px;
    border-radius: 20%;
    border-color: transparent;
    background-color:#53122d ;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  footer {
    margin-top: -25px;
    font-size: 25px;
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  #output{
    margin-left: 95px;
  }